Source: emms
Section: sound
Priority: optional
Maintainer: Jorgen Schaefer <forcer@debian.org>
Build-Depends: debhelper (>= 4.0.0), emacs21, texinfo, libtagc0-dev
Standards-Version: 3.6.2.1

Package: emms
Architecture: any
Depends: emacsen-common, emacs21 | emacsen, ${shlibs:Depends}
Recommends: mpg321, vorbis-tools
Suggests: mp3info
Conflicts: emacs20
Description: The Emacs MultiMedia System
 EMMS is the Emacs Multi-Media System. It tries to be a clean and small
 application to play multimedia files from Emacs using external
 players.
